---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Colors
$light-gray: #767676;
$lighter-gray: #707070;
$bright-gray: #f8f8f8;
$dark-gray: #aaa;
$darker-gray: #333;
$dark-blue: #069;

// Grids
@import '_grids';

// General
body {
	color: $light-gray;
	font-family: 'PT Mono',monospace;
	font-size: 12px;
	background-color: $bright-gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $darker-gray;
}

a {
	&,
	&:visited {
		color: $dark-blue;
		text-decoration: none;
	}
	
	&:hover {
		text-decoration: underline;
	}
}

hr {
	background-color: transparent;
	border-width: 0 0 1px 0;
	border-style: dashed;
	border-color: $dark-gray;
	width: 98%;
	@include rem(margin-top, $grid-spacing);
	@include rem(margin-bottom, $grid-spacing);
}

header {
	position: fixed;
	
	& > h1 > span {
		color: $dark-gray;
	}
}

.container {
	@include rem(margin-top, $grid-spacing * 2);
	@include rem(margin-bottom, $grid-spacing * 2);
}

#main {
	border-width: 0 0 0 1px;
	border-style: dashed;
	border-color: $dark-gray;
	
	@include responsive(max-width, $screen-medium) {
		& {
			border-width: 0;
		}
	}
}

small,
.small {
	@include rem(font-size, $grid-spacing);
}

.inline-list {
	list-style: none;
	
	&,
	& > li {
		margin: 0;
		padding: 0;
		display: inline-block;
	}
}

.list-with-separator {
	& > li:before {
		content: " / ";
		color: $lighter-gray;
	}
	
	& > li:first-child:before {
		content: "";
	}
}

footer {
	text-align: center;
	@include rem(margin-top, $grid-spacing);
	@include rem(padding-top, $grid-spacing);
	@include rem(padding-bottom, $grid-spacing);
}