---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Background colors
$bg-body: #f8f8f8;

// Foreground colors
$fg-body: #767676;
$fg-link: #069;
$fg-headline: #333;

// Border colors
$br-color: #ccc;

// Grids
@import '_grids';

// General
body {
	color: $fg-body;
	font-family: 'PT Mono',monospace;
	font-size: 12px;
	background-color: $bg-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $fg-headline;
}

a {
	&,
	&:visited {
		color: $fg-link;
		text-decoration: none;
	}
	
	&:hover {
		text-decoration: underline;
	}
}

hr {
	background-color: transparent;
	border-width: 0 0 1px 0;
	border-style: dashed;
	border-color: $br-color;
	width: 98%;
	@include rem(margin-top, $grid-spacing);
	@include rem(margin-bottom, $grid-spacing);
}

header {
	position: fixed;
	
	& > h1 > span {
		color: $br-color;
	}
}

.container {
	@include rem(margin-top, $grid-spacing * 2);
	@include rem(margin-bottom, $grid-spacing * 2);
}

#main {
	border-width: 0 0 0 1px;
	border-style: dashed;
	border-color: $br-color;
	
	@include responsive(max-width, $screen-medium) {
		& {
			border-width: 0;
		}
	}
	
	article {
		border-width: 0 0 1px;
		border-style: dashed;
		border-color: $br-color;
		
		&:last-child {
			border-width: 0;
		}
	}
}

small,
.small {
	@include rem(font-size, $grid-spacing);
}

.list-inline {
	list-style: none;
	
	&,
	& > li {
		margin: 0;
		padding: 0;
		display: inline-block;
	}
}

.list-with-separator {
	& > li:before {
		content: " / ";
		color: $br-color;
	}
	
	& > li:first-child:before {
		content: "";
	}
}

footer {
	text-align: center;
	@include rem(margin-top, $grid-spacing);
	@include rem(padding-top, $grid-spacing);
	@include rem(padding-bottom, $grid-spacing);
}