@function grid-width($column, $columns) {
	@return $column * (100% / $columns);
}

@function parse-int($n) {
	@return $n / ($n * 0 + 1);
}

@function calc-rems($pixels, $base: 10) {
	$rems: #{parse-int($pixels) / $base}rem;
	
	@if unit($pixels) == "rem" {
		$rems: $pixels;
	}
	
	@return $rems;
}

@function calc-pixels($rems, $base: 10) {
	$pixels: #{parse-int($rems) * $base}px;
	
	@if unit($rems) == "px" {
		$pixels: $rems;
	}
	
	@return $pixels;
}