// Grid variables
// rem base 10: html {font-size: 62.5%;}
$grid-columns: 12;
$grid-max-width: 99.2rem; // 992/10
$grid-spacing: 1rem; // 10/10

// Media queries breakpoints
// rem base 16
$screen-x-small: 30rem; // 480/16
$screen-small: 48rem; // 768/16
$screen-medium: 62rem; // 992/16
$screen-large: 75rem; // 1200/16

// Maximum width
$screen-small-max-width: 75rem; // 750/10
$screen-medium-max-width: 97rem; // 970/10
$screen-large-max-width: 117rem; // 1170/10

// Colors
$light-gray: #767676;
$lighter-gray: #707070;
$bright-gray: #f8f8f8;
$dark-gray: #aaa;
$darker-gray: #333;
$dark-blue: #069;