---
title: Categories
permalink: /categories/
---
{% if site.categories.size > 0 %}
<ul class="list-categories">
	{% for category in site.categories %}
	<li id="category-{{ category.first | escape }}">
		<h4>{{ category.first | escape }}</h4>

		<ul class="list-posts">
			{% for post in site.posts %}
			{% for cat in post.categories %}
			{% if cat == category.first %}
			<li>
				<a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
			</li>
			{% endif %}
			{% endfor %}
			{% endfor %}
		</ul>
	</li>
	{% endfor %}
</ul>
{% else %}
<p>Nothing interesting to show :/</p>
{% endif %}
