---
layout: page
title: 'Tags'
permalink: /tags/
---
{% if site.tags.size > 0 %}
<ul class="list-tags">
	{% for tag in site.tags %}
	<li id="tag-{{ tag.first | escape }}">
		<h4>{{ tag.first | escape }}</h4>

		<ul class="list-posts">
			{% for post in site.posts %}
			{% for t in post.tags %}
			{% if t == tag.first %}
			<li>
				<a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
			</li>
			{% endif %}
			{% endfor %}
			{% endfor %}
		</ul>
	</li>
	{% endfor %}
</ul>
{% endif %}
