/// Grid system breakpoints in pixels
/// @type list
$grid-breakpoints: (
	xs: 0,
	sm:	576px,
	md:	768px,
	lg:	992px,
	xl: 1200px
);

/// Container maximum widths in pixels
/// @type list
$container-max-widths: (
	sm:	540px,
	md:	720px,
	lg:	960px,
	xl: 1140px
);

/// Rem base
/// @type number
$rem-base: 16;

// Column spacing
$spacing: 15px;

// Background colors
$bg-body: #1e2a31;
$bg-badge: #2b3942;
$bg-avatar: #edeff0;

// Foreground colors
$fg-body: #8a9ba1;
$fg-link: #b4bfc3;

// Border colors
$br-avatar: #edeff0;
