{% for body_script in page.scripts.body %}
	{% for script in site.data.scripts %}
		{% if body_script == script.group %}
			{% for file in script.files %}
				{% if file.cdn == 'cdnjs' %}
				<script src="{{ "https://cdnjs.cloudflare.com/ajax/libs/" | append: script.group | append: "/" | append: file.version | append: "/" | append: file.name | append: ".js" | uri_escape }}"></script>
				{% elsif file.cdn == 'githack' %}
				<script src="{{ "https://rawcdn.githack.com/" | append: file.name | append: ".js" | uri_escape }}"></script>
				{% else %}
				<script src="{{ "/assets/js/" | append: file.name | append: ".js" | uri_escape | relative_url }}"></script>
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endfor %}
{% endfor %}
