<header>
	{% if site.github.owner_gravatar_url.size > 0 %}
	<img id="header-avatar" src="{{ site.github.owner_gravatar_url | uri_escape }}" alt="{{ site.title | escape }}" />
	{% endif %}
	<h1><a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h1>
	<h2>{{ site.description | escape }}</h2>

	{% if site.data.networks.size > 0 %}
	<ul class="list-inline list-with-separator">
		{% for network in site.data.networks %}
		<li>
			<svg class="icon icon-{{ network.name | downcase | escape }}">
				<use xlink:href="#{{ network.name | downcase | escape }}" />
			</svg>
			{% if network.url.size > 0 %}
			<a href="{{ network.url | append: network.user | uri_escape }}" target="_blank" rel="nofollow" title="{{ network.user | escape }} @ {{ network.name | capitalize | escape }}">{{ network.name | capitalize | escape }}</a>
			{% else %}
			<span title="{{ network.user | escape }} @ {{ network.name | capitalize | escape }}">{{ network.user | escape }}</span>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
	{% endif %}

	<hr />
</header>
