<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" type="image/x-icon" href="{{ "/favicon.ico" | relative_url }}" />

	<title>{% if page.title %}{{ page.title | escape }}{% if paginator.total_pages > 1 and paginator.page >= 2 %} - Page {{ paginator.page }} of {{ paginator.total_pages }}{% endif %} :: {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
	<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
	<link rel="stylesheet" href="https://gistcdn.githack.com/AlfredoRamos/7373ba3506e10358bb84648af9a808b0/raw/be408cf1d60795876d33b10f2a1d0855129c8f66/grids.min.css" />
	<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}" />
	<link rel="stylesheet" href="https://rawcdn.githack.com/mozmorris/tomorrow-pygments/c6ca1a308e7e93cb18a54f93bf964f56e4d07acf/css/tomorrow_night.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Mono" />

	<!-- stylesheets -->
	{% include stylesheets.html %}
	<!-- stylesheets -->
</head>
