<header>
	{% if site.github.owner_gravatar_url.size > 0 %}<img id="header-avatar" src="{{ site.github.owner_gravatar_url }}" width="125" height="125" alt="{{ site.title }}" />{% endif %}
	<h1><a href="/">{{ site.title }}</a></h1>
	<h2>{{ site.description }}</h2>
	
	{% if site.social_networks.size > 0 %}
	<ul class="list-inline list-with-separator">
		{% for network in site.social_networks %}
		<li>
			<span class="icon icon-{{ network.first | downcase }}"></span>
			{% if network.last.url and network.last.url.size > 0 %}
			<a href="{{ network.last.url }}" target="_blank" rel="nofollow" title="{{ network.last.user }} @ {{ network.first | capitalize }}">{{ network.first | capitalize }}</a>
			{% else %}
			<span title="{{ network.last.user }} @ {{ network.first | capitalize }}">{{ network.last.user }}</span>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
	{% endif %}
	
	<hr />
</header>
