<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="referrer" content="same-origin" />
	<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

	<title>{% if page.title %}{{ page.title | escape }}{% if paginator.total_pages > 1 and paginator.page >= 2 %} - Page {{ paginator.page }} of {{ paginator.total_pages }}{% endif %} :: {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
	<link rel="icon" type="image/x-icon" href="{{ "/favicon.ico" | relative_url }}" />
	<link rel="alternate" href="{{ "/feed.atom" | relative_url }}" type="application/atom+xml" title="Atom Feed :: {{ site.title | escape }}" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" />
	<link rel="stylesheet" href="https://gistcdn.githack.com/AlfredoRamos/7373ba3506e10358bb84648af9a808b0/raw/dce7547b8686e1034326d7c5adb5378d124d5779/grids.min.css" />
	<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}" />
	<link rel="stylesheet" href="https://rawcdn.githack.com/mozmorris/tomorrow-pygments/c6ca1a308e7e93cb18a54f93bf964f56e4d07acf/css/tomorrow_night.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Mono" />

	<!-- stylesheets -->
	{% include stylesheets.html %}
	<!-- stylesheets -->
</head>
