<nav id="pages">
	<div class="container">
		<div class="row center-xs">
			<div class="col-md-9">
				<ul class="list-inline list-with-separator">
					<li>
						<a href="{{ '/categories/' | relative_url }}">
							<svg class="icon icon-folder">
								<use xlink:href="#folder" />
							</svg>
							Categories
						</a>
					</li>
					<li>
						<a href="{{ '/tags/' | relative_url }}">
							<svg class="icon icon-tag">
								<use xlink:href="#tag" />
							</svg>
							Tags
						</a>
					</li>
					<li>
						<a href="{{ '/feed.atom' | relative_url }}">
							<svg class="icon icon-feed">
								<use xlink:href="#feed" />
							</svg>
							Atom Feed
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
