{%- if include.content.size > 0 -%}
	{%- assign scripts = include.content -%}
{%- elsif page.scripts.size > 0 -%}
	{%- assign scripts = page.scripts -%}
{%- else -%}
	{%- assign scripts = nil -%}
{%- endif -%}
{%- for page_script in scripts -%}
	{%- assign script = site.data.scripts | where: 'group', page_script | first -%}
	{%- if script.size > 0 -%}
		{%- for file in script.files -%}
			{%- assign script_url = nil -%}
			{%- case file.cdn -%}
				{%- when 'cdnjs' -%}
					{%- assign script_url = script_url
					| append: 'https://cdnjs.cloudflare.com/ajax/libs/'
					| append: script.group | append: '/'
					| append: file.version | append: '/'
					| append: file.name -%}
					{%- if file.minified -%}
						{%- assign script_url = script_url | append: '.min' -%}
					{%- endif -%}
					{%- assign script_url = script_url | append: '.js' -%}
				{%- when 'githack' -%}
					{%- if file.type != 'gist' -%}
						{%- assign script_url = script_url
						| append: 'https://rawcdn.githack.com/' -%}
					{%- else -%}
						{%- assign script_url = script_url
						| append: 'https://gistcdn.githack.com/' -%}
					{%- endif -%}
					{%- assign script_url = script_url | append: file.name -%}
					{%- if file.minified -%}
						{%- assign script_url = script_url | append: '.min' -%}
					{%- endif -%}
					{%- assign script_url = script_url | append: '.js' -%}
				{%- else -%}
					{%- assign script_url = script_url | append: '/assets/js/'
					| append: file.name -%}
					{%- if file.minified -%}
						{%- assign script_url = script_url | append: '.min' -%}
					{%- endif -%}
					{%- assign script_url = script_url | append: '.js' | relative_url -%}
			{%- endcase -%}
			{%- if script_url.size > 0 %}
			<script src="{{ script_url | uri_escape }}"></script>
			{%- endif %}
		{%- endfor -%}
	{%- endif -%}
{%- endfor -%}
