<aside class="sidebar col-lg-3">
	{%- if site.data.team[site.github.owner.login].networks.size > 0 %}
	<section id="about" class="widget mb-4">
		<header class="header">
			<h3 class="title h4">About</h3>
		</header>
		<div class="body">
			{%- if site.github.owner.avatar_url %}
			<figure class="avatar">
				<img data-src="{{ site.github.owner.avatar_url | append: '&size=250' | uri_escape }}" alt="{{ site.github.owner.name | default: site.title | escape }}" class="img-fluid rounded d-block mx-auto lazyload" width="250" height="250">
			</figure>
			{%- endif %}
			{%- if site.github.owner.bio.size > 0 %}
			<p>{{ site.github.owner.bio | escape }}</p>
			{%- endif %}
			<ul id="social-networks" class="list-unstyled">
				{%- for network in site.data.team[site.github.owner.login].networks %}
				{%- assign network_url = network[1] | social_network_url: network[0] | uri_escape -%}
				{%- assign network_user = network[1] | escape -%}
				{%- assign network_title = network[0] | social_network_title | escape -%}
				{%- assign network_icon = network[0] | social_network_icon -%}
				<li>
					{%- if network_url contains 'https://' or network_url contains 'http://' %}
					<a href="{{ network_url }}" title="{{ network_title }}" target="_blank" rel="external noopener noreferrer"><span class="iconify inline-icon social-icon {{ network[0] | slugify }}-icon" data-icon="{{ network_icon }}"></span>{{ network_user }}</a>
					{% else %}
					<span title="{{ network_title }}"><span class="iconify inline-icon social-icon {{ network[0] | slugify }}-icon" data-icon="{{ network_icon }}"></span><code>{{ network_user }}</code></span>
					{%- endif %}
				</li>
				{%- endfor %}
			</ul>
		</div>
	</section>
	{%- endif %}
	{%- unless page.url == '/donate/' %}
	<section id="donate" class="widget mb-4">
		<header class="header">
			<h3 class="title h4">Donate</h3>
		</header>
		<div class="body">
			{% include donation.html %}
		</div>
	</section>
	{%- endunless %}
	{%- if site.related_posts.size > 0 %}
	<section id="related-posts" class="widget mb-4">
		<header class="header">
			<h3 class="title h4">Related posts</h3>
		</header>
		<div class="body">
			<ul class="list-related-posts list-group list-group-flush">
				{%- for p in site.related_posts %}
				<li class="list-group-item px-0 py-1">
					<a href="{{ p.url | relative_url }}">{{ p.title | escape }}</a>
				</li>
				{%- endfor %}
			</ul>
		</div>
	</section>
	{%- endif %}
	{%- if site.posts.size > 0 and page.url != '/archives/' %}
	{%- assign archives = site.posts | group_by_exp: 'post','post.date | date: "%Y"' -%}
	<section id="archives" class="widget mb-4">
		<header class="header">
			<h3 class="title h4">Archives</h3>
		</header>
		<div class="body">
			<div class="list-archives">
				{%- for archive in archives %}
				<a href="{{ site.data.pages | where: 'name', 'archives' | map: 'uri' | first | append: archive.name | append: '/' | uri_escape | relative_url }}" class="badge badge-light">
					{{ archive.name | escape}}
				</a>
				{%- endfor %}
			</div>
		</div>
	</section>
	{%- endif %}
	{%- if site.categories.size > 0 and page.url != '/categories/' %}
	<section id="categories" class="widget mb-4">
		<header class="header">
			<h3 class="title h4">Categories</h3>
		</header>
		<div class="body">
			<div class="list-categories">
				{%- for category in site.categories %}
				<a href="{{ site.data.pages | where: 'name', 'categories' | map: 'uri' | first | append: category.first | append: '/' | uri_escape | relative_url }}" class="badge badge-light">
					{{ category.first | escape}}
				</a>
				{%- endfor %}
			</div>
		</div>
	</section>
	{%- endif %}
	{%- if site.tags.size > 0 and page.url != '/tags/' %}
	<section id="tags" class="widget mb-4">
		<header class="header">
			<h3 class="title h4">Tags</h3>
		</header>
		<div class="body">
			<div class="list-tags">
				{%- for tag in site.tags %}
				<a href="{{ site.data.pages | where: 'name', 'tags' | map: 'uri' | first | append: tag.first | append: '/' | uri_escape | relative_url }}" class="badge badge-light">
					{{ tag.first | escape}}
				</a>
				{%- endfor %}
			</div>
		</div>
	</section>
	{%- endif %}
</aside>
