<aside class="sidebar col-lg-3">
	{%- if site.data.team[site.github.owner_name].networks.size > 0 %}
	<section id="about" class="widget mb-4">
		<header class="header">
			<h3 class="title h4">About</h3>
		</header>
		<div class="body">
			<figure class="avatar">
				<img data-src="{% if site.github.owner.avatar_url %}{{ site.github.owner.avatar_url | append: '&size=250' }}{% else %}{{ site.github.owner_gravatar_url | append: '?size=250' }}{% endif %}" alt="{{ site.github.owner.name | default: site.title | escape }}" class="img-fluid rounded d-block mx-auto lazyload" width="250" height="250">
			</figure>
			{%- if site.github.owner.bio.size > 0 %}
			<p>{{ site.github.owner.bio | escape }}</p>
			{%- endif %}
			{% include networks.html %}
		</div>
	</section>
	{%- endif %}
	{%- unless page.url == '/donate/' %}
	<section id="donate" class="widget mb-4">
		<header class="header">
			<h3 class="title h4">Donate</h3>
		</header>
		<div class="body">
			{% include donation.html %}
		</div>
	</section>
	{%- endunless %}
	{%- if site.related_posts.size > 0 %}
	<section id="related-posts" class="widget mb-4">
		<header class="header">
			<h3 class="title h4">Related posts</h3>
		</header>
		<div class="body">
			<div class="list-related-posts d-flex flex-wrap">
				{%- for p in site.related_posts %}
				<div class="d-flex flex-wrap mb-2 col-12 col-md-6 col-lg-12">
					<a href="{{ p.url | relative_url }}" class="d-block col-2 col-md-3 me-2 img-container rounded border">
						{% if p.image.size > 0 %}
						<picture>
							<img data-src="{{ p.image }}" class="rounded w-100 h-100 lazyload" alt="{{ p.title | escape }}">
						</picture>
						{% else %}
						<svg class="rounded w-100 h-100 img-placeholder" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image">
							<title>Placeholder</title>
							<rect width="100%" height="100%" fill="#55595c"></rect>
							<text x="50%" y="50%" fill="#eceeef" dominant-baseline="middle" text-anchor="middle">Image</text>
						</svg>
						{% endif %}
					</a>
					<a href="{{ p.url | relative_url }}" class="d-block col">{{ p.title | escape }}</a>
				</div>
				{%- endfor %}
			</div>
		</div>
	</section>
	{%- endif %}
	{%- if site.posts.size > 0 and page.url != '/archives/' %}
	{%- assign archives = site.posts | group_by_exp: 'post','post.date | date: "%Y"' -%}
	<section id="archives" class="widget mb-4">
		<header class="header">
			<h3 class="title h4">Archives</h3>
		</header>
		<div class="body">
			<div class="list-archives">
				{%- for archive in archives %}
				<a href="{{ site.data.pages | where: 'name', 'archives' | map: 'uri' | first | append: archive.name | append: '/' | uri_escape | relative_url }}" class="badge bg-light text-dark">
					{{ archive.name | escape}}
				</a>
				{%- endfor %}
			</div>
		</div>
	</section>
	{%- endif %}
	{%- if site.categories.size > 0 and page.url != '/categories/' %}
	<section id="categories" class="widget mb-4">
		<header class="header">
			<h3 class="title h4">Categories</h3>
		</header>
		<div class="body">
			<div class="list-categories">
				{%- for category in site.categories %}
				<a href="{{ site.data.pages | where: 'name', 'categories' | map: 'uri' | first | append: category.first | append: '/' | uri_escape | relative_url }}" class="badge bg-light text-dark">
					{{ category.first | escape}}
				</a>
				{%- endfor %}
			</div>
		</div>
	</section>
	{%- endif %}
	{%- if site.tags.size > 0 and page.url != '/tags/' %}
	<section id="tags" class="widget mb-4">
		<header class="header">
			<h3 class="title h4">Tags</h3>
		</header>
		<div class="body">
			<div class="list-tags">
				{%- for tag in site.tags %}
				<a href="{{ site.data.pages | where: 'name', 'tags' | map: 'uri' | first | append: tag.first | append: '/' | uri_escape | relative_url }}" class="badge bg-light text-dark">
					{{ tag.first | escape}}
				</a>
				{%- endfor %}
			</div>
		</div>
	</section>
	{%- endif %}
</aside>
