/// Generate a dynamic media query
/// @param string	$property		Property name
/// @param number	$breakpoint		Breakpoint size
/// @content SCSS/CSS code
@mixin responsive($property, $breakpoint) {
	@media only screen and (#{$property}: $breakpoint) {
		@content;
	}
}

/// Generate lighter link colors for dark mode
// @param number $hover Wheter is for normal or hover link color
@mixin link-color($hover: 0) {
	$amount: 5%;
	$color: lighten($fg-icon, $amount);

	@if $hover == 1 {
		$color: lighten($fg-icon-hover, $amount);
	}

	color: $color;
}

/// Generate dark color scheme for both .dark-mode
/// and prefers-color-scheme media query
@mixin dark-mode {
	background-color: $bg-dark-body;
	color: $fg-dark-body;

	a {
		@include link-color;

		&:hover {
			@include link-color(1);

			&.badge-primary,
			&.badge-light {
				background-color: darken($bg-dark-badge, 15%);
				color: darken($fg-dark-body, 20%);
			}
		}

		&.badge-primary,
		&.badge-light {
			background-color: darken($bg-dark-badge, 10%);
			color: darken($fg-dark-body, 15%);
		}
	}

	img {
		filter: brightness(0.8) contrast(1.2);
	}

	.dark-mode-icon {
		> .iconify {
			transform: rotate(180deg) !important; // scss-lint:disable ImportantRule
		}
	}

	.navbar-brand {
		color: $fg-dark-body;
	}

	code,
	.highlight {
		background-color: $bg-dark-code;
		color: $fg-dark-code;
	}

	.badge {
		background-color: $bg-dark-badge !important; // scss-lint:disable ImportantRule
		color: $fg-dark-code !important; // scss-lint:disable ImportantRule
	}

	.social-networks li > span {
		// scss-lint:disable SelectorDepth
		> code {
			color: $fg-dark-body;
		}

		> .social-icon {
			@include link-color;
		}

		&:hover {
			> .social-icon {
				@include link-color(1);
			}
		}
	}

	.border {
		border-color: $br-default !important; // scss-lint:disable ImportantRule
	}

	hr {
		border-color: $br-default;
	}

	> .footer {
		background-color: $bg-dark-footer !important; // scss-lint:disable ImportantRule

		.text-muted {
			color: $fg-dark-code !important; // scss-lint:disable ImportantRule
		}
	}
}
