.index {
	.post {
		.title {
			font-size: 1.5rem;
		}
	}
}

.post {
	.highlight {
		> pre {
			padding: get-pixels($spacing);
		}
	}

	.title {
		a:hover {
			text-decoration: none;
		}
	}

	.footer {
		.tags {
			display: inline-block;
		}
	}

	.img-container {
		width: 150px;
		height: 120px;
	}

	picture {
		> img {
			object-fit: cover;
		}
	}
}
