.index {
	.post {
		.title {
			font-size: 1.5rem;
		}
	}
}

.post {
	overflow: hidden;

	.highlight {
		> pre {
			padding: get-pixels($spacing);
		}
	}

	.title {
		a:hover {
			text-decoration: none;
		}
	}

	.content {
		overflow: hidden;
	}

	.footer {
		.tags {
			display: inline-block;
		}
	}

	.img-container {
		width: 200px;
		height: 120px;
	}

	picture {
		> img {
			object-fit: cover;
		}
	}
}

@include responsive (max-width, map-get($grid-breakpoints, md)) {
	.post .img-container {
		width: 100%;
		height: 180px;
	}
}
