body > footer {
	margin-top: $spacing;
	margin-bottom: $spacing;
	text-align: center;

	.credits {
		margin: 0 0 get-rems($spacing / 2);

		&:last-child {
			margin: 0;
		}
	}

	hr {
		margin-bottom: get-rems(20px);
	}
}
