body > header {
	padding: 20px 0 1px;
	text-align: center;

	@include responsive(min-width, map-get($grid-breakpoints, sm)) {
		text-align: left;
	}

	h1 {
		margin-top: get-rems($spacing / 2);
		margin-bottom: get-rems($spacing / 2);
	}

	#avatar {
		& > img {
			display: inline-block;
			width: 120px;
			height: 120px;
			border-width: 1px;
			border-style: solid;
			border-color: $br-avatar;
			padding: 4px;
			background-color: $bg-avatar;
			border-radius: percentage(1/2);
		}
	}
}
