body > nav {
	> .container {
		margin-bottom: 0;
		border-width: 1px 0;
		border-style: dashed;
		border-color: darken($fg-body, 15%);
		padding-top: $spacing;
		padding-bottom: $spacing;
	}

	.search {
		> [type="search"] {
			width: 100%;
		}
	}

	@include responsive(max-width, map-get($grid-breakpoints, md)) {
		.search {
			margin-top: ($spacing - 10);
		}
	}
}
