body > nav {
	> .container {
		border-width: 1px 0;
		border-style: dashed;
		border-color: darken($fg-body, 15%);
		padding-top: $spacing;
		padding-bottom: $spacing;
		margin-bottom: 0;
	}

	.search {
		> [type="search"] {
			width: 100%;
		}
	}
}
