#sidebar {
	#about {
		#avatar {
			text-align: center;
		}
	}

	#avatar {
		margin-bottom: $spacing;

		> img {
			display: inline-block;
			border-width: 1px;
			border-style: solid;
			border-radius: percentage(1 / 2);
			border-color: $br-avatar;
			background-color: $bg-avatar;
			padding: 4px;
			width: 150px;
			height: 150px;
		}
	}
}
