.sidebar {
	.widget {
		overflow: hidden;
	}
}

.social-networks {
	li {
		> span {
			// scss-lint:disable SelectorDepth, NestingDepth
			> .social-icon {
				color: $fg-icon;
			}

			&:hover > .social-icon {
				color: $fg-icon-hover;
			}

			> code {
				color: $fg-body;
				font-size: 100%;
			}
		}
	}
}

.list-related-posts {
	.img-container {
		height: 50px;
	}

	picture {
		> img {
			object-fit: cover;
		}
	}
}
