.list {
	&-inline {
		list-style: none;
		margin: 0;

		&,
		> li {
			padding: 0;
		}

		& &,
		> li {
			display: inline-block;
		}

		> li {
			margin-bottom: ($spacing - 10);
			margin-top: ($spacing - 10);
		}

		@include responsive(max-width, map-get($grid-breakpoints, md)) {
			> li {
				padding-top: ($spacing - 10);
				padding-bottom: ($spacing - 10);

				li {
					padding-top: 0;
					padding-bottom: 0;
				}
			}
		}
	}

	&-with-separator {
		> li::before {
			color: darken($fg-body, 15%);
			content: ' / ';
		}

		@include responsive(max-width, map-get($grid-breakpoints, md)) {
			> li::before {
				content: '';
			}
		}

		> li:first-child::before {
			content: '';
		}
	}

	&-links {
		padding: 0;
		list-style: none;

		> li {
			margin: 0 0 $spacing;

			> h4 {
				margin: 0;
			}
		}
	}
}

#social-networks {
	list-style: none;
}
