.list {
	// Inline
	&-inline {
		list-style: none;

		&,
		> li {
			margin: 0;
			padding: 0;
		}

		& &,
		> li {
			display: inline-block;
		}
	}

	// With separator
	&-with-separator {
		> li::before {
			color: darken($fg-body, 15%);
			content: ' / ';
		}

		> li:first-child::before {
			content: '';
		}
	}

	// Archives, categories and tags
	&-archives,
	&-categories,
	&-tags {
		padding: 0;
		list-style: none;

		> li {
			margin: 0 0 $spacing;

			> h4 {
				margin: 0;
			}
		}
	}
}
