---
---
@import 'abstracts/variables';

.post {
	.body {
		h4 {
			text-align: center;
		}

		.media,
		.video-info {
			margin-top: $spacing;
			margin-bottom: $spacing;
		}

		.media {
			&:last-child {
				margin-bottom: 0;
			}

			&.load {
				background-image: url(../images/play.svg);
				background-repeat: no-repeat;
				background-size: 15%;
				background-position: center;
				background-color: #22313a;
			}
		}

		.video-info {
			text-align: center;
			white-space: pre-wrap;
		}
	}
}
