.post-body h4 {
	text-align: center;
}
.post-body .responsive-media,
.post-body .video-info {
	margin-top: 15px;
	margin-bottom: 15px;
}
.post-body .responsive-media:last-child {
	margin-bottom: 0;
}
.post-body .responsive-media.load {
	background-image: url(../images/play.svg);
	background-repeat: no-repeat;
	background-size: 15%;
	background-position: center;
	background-color: #22313a;
}
.post-body .video-info {
	text-align: center;
	white-space: pre-wrap;
}
