---
---
@import 'abstracts/variables';

.post {
	.body {
		h4,
		h5 {
			text-align: center;
		}

		[class*="col-"] {
			border: 1px solid $bg-badge;
			text-align: center;
			background-color: $fg-body;
			padding-top: 10px;
			padding-bottom: 10px;
			font-size: 10px;

			[class*="col-"] {
				background-color: $fg-link;
			}
		}
	}
}
