---
# Only the main Sass file needs front matter (the dashes are enough)
---
// Resources
@import 'variables';
@import 'functions';
@import 'mixins';

// General
body {
	color: $fg-body;
	font-family: 'PT Mono',monospace;
	background-color: $bg-body;
	@include rem(font-size, 1.3rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $fg-headline;
}

a {
	&,
	&:visited {
		color: $fg-link;
		text-decoration: none;
	}

	&:hover {
		text-decoration: underline;
	}
}

hr {
	background-color: transparent;
	border-width: 0 0 1px 0;
	border-style: dashed;
	border-color: $br-color;
	width: 98%;
	@include rem(margin-top, $grid-spacing);
	@include rem(margin-bottom, $grid-spacing);
}

#header-wrapper {
	margin-bottom: 0;
	@include rem(margin-top, $grid-spacing * 2);

	header {
		text-align: center;

		h1,
		h2 {
			margin-top: 5px;
			margin-bottom: 5px;
		}

		& .icon {
			vertical-align: text-bottom;
		}

		& > #header-avatar {
			display: inline-block;
			width: 135px;
			height: 135px;
			border-width: 1px;
			border-style: solid;
			border-color: $br-avatar;
			padding: 4px;
			background-color: $bg-avatar;
			@include border-radius(50%);
		}
	}

	hr {
		margin-bottom: 0;
	}
}

#content-wrapper {
	#content {
		.index {
			.post {
				padding: 7px 0;
				border-width: 0 0 1px;
				border-style: dashed;
				border-color: $br-color;

				&:last-child {
					border: none;
				}

				.post-header {
					.post-title {
						margin-top: 0;
						margin-bottom: 0;
					}

					.post-meta {
						text-align: right;
					}
				}
			}
		}

		.error {
			text-align: center;
		}
	}
}

small,
.small {
	@include rem(font-size, $grid-spacing);
}

.list-inline {
	list-style: none;

	&,
	& > li {
		margin: 0;
		padding: 0;
	}

	& &,
	& > li {
		display: inline-block;
	}
}

.list-with-separator {
	& > li:before {
		content: " / ";
		color: $br-color;
	}

	& > li:first-child:before {
		content: "";
	}
}

.list-categories,
.list-tags {
	padding: 0;
	list-style: none;

	& > li {
		margin: 0 0 10px;

		& > h4 {
			margin: 0;
		}
	}
}

.icon {
	display: inline-block;
	min-width: 16px;
	min-height: 16px;
	background-repeat: no-repeat;
	background-position: 50%;
}

@each $network in $svg-icons {
	.icon-#{$network} {
		background-image: url('../images/#{$network}.svg');
	}
}

.badge {
	background-color: $bg-badge;
	padding: 1px 2px;
	border: 1px solid $br-color;
	@include border-radius(3px);
}

.pagination {
	display: block;
	text-align: center;
	@include rem(margin-bottom, $grid-spacing);
}

#footer-wrapper {
	footer {
		text-align: center;
		@include rem(margin-top, $grid-spacing);
		@include rem(margin-bottom, $grid-spacing);

		.credits {
			margin: 0 0 5px;

			&:last-child {
				margin: 0;
			}
		}
	}
}
