body {
	color: $fg-body;
	font-family: 'PT Mono',monospace;
	background-color: $bg-body;
	font-size: 13px;
}

a {
	&,
	&:visited {
		color: $fg-link;
		text-decoration: none;
	}

	&:hover {
		text-decoration: underline;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $fg-headline;
}

hr {
	background-color: transparent;
	border-width: 0 0 1px 0;
	border-style: dashed;
	border-color: $fg-link;
	width: 98%;
	margin-top: get-rems($spacing);
	margin-bottom: get-rems($spacing);
}

body > header {
	padding: 20px 0 1px;

	h1 {
		margin-top: get-rems($spacing / 2);
		margin-bottom: get-rems($spacing / 2);
	}

	#avatar {
		& > img {
			display: inline-block;
			width: 120px;
			height: 120px;
			border-width: 1px;
			border-style: solid;
			border-color: $br-avatar;
			padding: 4px;
			background-color: $bg-avatar;
			border-radius: 50%;
		}
	}

	#pages {
		text-align: right;
		margin-top: get-rems($spacing);

		.list-with-separator {
			& > li:before {
				color: $fg-body;
			}
		}
	}
}

hr {
	margin-bottom: 0;
}

body > main {
	#content {
		.index {
			.post {
				padding: 7px 0;
				border-width: 0 0 1px;
				border-style: dashed;
				border-color: $fg-link;

				&:last-child {
					border: none;
				}

				.post-header {
					.post-title {
						margin-top: 0;
						margin-bottom: 0;
					}
				}
			}
		}

		.post {
			.post-body {
				font-size: 15px;
			}
		}

		.error {
			text-align: center;
		}
	}
}

small,
.small {
	font-size: 11px;
}

.list-inline {
	list-style: none;

	&,
	& > li {
		margin: 0;
		padding: 0;
	}

	& &,
	& > li {
		display: inline-block;
	}
}

.list-with-separator {
	& > li:before {
		content: " / ";
		color: $fg-link;
	}

	& > li:first-child:before {
		content: "";
	}
}

.list-categories,
.list-tags {
	padding: 0;
	list-style: none;

	& > li {
		margin: 0 0 $spacing;

		& > h4 {
			margin: 0;
		}
	}
}

.icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: text-bottom;
	fill: currentColor;
}

.badge {
	background-color: $bg-badge;
	padding: 2px 4px;
	border-radius: 3px;
}

.pagination {
	display: block;
	text-align: center;
	margin-bottom: $spacing;
}

body > footer {
	text-align: center;
	margin-top: $spacing;
	margin-bottom: $spacing;

	.credits {
		margin: 0 0 get-rems($spacing / 2);

		&:last-child {
			margin: 0;
		}
	}

	hr {
		margin-bottom: get-rems(20px);
	}
}

.highlight {
	white-space: pre;
	padding: 1px 10px;
	margin: 0;
	overflow: auto;
	border-radius: 3px;
}
