// Usually (but not always) 1rem = 16px
$rem-base: 16;

// Column spacing
$spacing: 10px;

// Background colors
$bg-body: #1e2a31;
$bg-badge: #2b3942;
$bg-avatar: #edeff0;

// Foreground colors
$fg-body: #8a9ba1;
$fg-link: #b4bfc3;
$fg-headline: #c2cbce;

// Border colors
$br-avatar: #edeff0;
