// Background colors
$bg-body: #f8f8f8;
$bg-badge: #f5f5f5;
$bg-avatar: #fafafa;

// Foreground colors
$fg-body: #767676;
$fg-link: #069;
$fg-headline: #333;

// Border colors
$br-color: #ccc;
$br-avatar: #ddd;

// SVG Icons
$svg-icons: (github, twitter, reddit, vkontakte);

// Column spacing (rem base 10)
// It should be < 4.5rem
$grid-spacing: 1rem; // 10/10
