{{- $asset_type := .asset_type -}}
{{- if in (slice "stylesheet" "script") .asset_type }}
	{{- with site.Data.assets_list }}
		{{- range . }}
			{{- $group := index site.Data.assets .name -}}
			{{- $cdn_url := "" -}}

			{{- if eq $group.cdn "cdnjs" -}}
				{{- $cdn_url = printf "%s%s/%s/" "https://cdnjs.cloudflare.com/ajax/libs/" .name $group.version -}}
			{{- else if eq $group.cdn "iconify" -}}
				{{- $cdn_url = printf "https://code.iconify.design/1/%s/" $group.version -}}
			{{- end -}}

			{{- if eq $asset_type "stylesheet" }}
			{{- with $group.css }}
				{{ range . }}
					{{- $url := $cdn_url -}}
					{{- if .path -}}{{- $url = printf "%s%s/" $url .path -}}{{- end -}}
					{{- $url = print $url .name -}}
					{{- if .minified -}}{{- $url = printf "%s.min" $url -}}{{ end -}}
					{{- $url = printf "%s.css" $url -}}
					<link rel="stylesheet" href="{{ $url }}"{{ with .integrity }}{{ printf " integrity=%q" . | safeHTMLAttr }} crossorigin="anonymous"{{ end }}>
				{{- end -}}
			{{- end }}
			{{- end }}

			{{- if eq $asset_type "script" }}
			{{- with $group.js }}
				{{ range . }}
					{{- $url := $cdn_url -}}
					{{- if .path -}}{{- $url = printf "%s%s/" $url .path -}}{{- end -}}
					{{- $url = print $url .name -}}
					{{- if .minified -}}{{- $url = printf "%s.min" $url -}}{{ end -}}
					{{- $url = printf "%s.js" $url -}}
					<script src="{{ $url }}"{{ with .integrity }}{{ printf " integrity=%q" . | safeHTMLAttr }} crossorigin="anonymous"{{ end }}></script>
				{{- end -}}
			{{- end }}
			{{- end }}
		{{- end }}
	{{- end }}
{{- end }}
