<link rel="apple-touch-icon" sizes="180x180" href="{{ (resources.Get "images/favicon/apple-touch-icon.png").RelPermalink }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ (resources.Get "images/favicon/favicon-32x32.png").RelPermalink }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ (resources.Get "images/favicon/favicon-16x16.png").RelPermalink }}">
<link rel="manifest" href="{{ (resources.Get "images/favicon/site.webmanifest").RelPermalink }}">
<link rel="mask-icon" href="{{ (resources.Get "images/favicon/safari-pinned-tab.svg").RelPermalink }}" color="#0088cc">
<link rel="icon" type="image/svg+xml" href="{{ (resources.Get "images/favicon/favicon.svg").RelPermalink }}">
<link rel="alternate icon" href="{{ "favicon.ico" | relURL }}">
<meta name="msapplication-TileColor" content="#343a40">
<meta name="msapplication-config" content="{{ (resources.Get "images/favicon/browserconfig.xml").RelPermalink }}">
<meta name="theme-color" content="#fefefe">
