<footer class="footer bg-light">
	<div class="container py-3 text-muted d-flex flex-wrap justify-content-between align-items-center">
		<div class="credits">
			© 2015-{{ now.Format "2006" }} <a href="{{ .Site.Home.Permalink }}" class="text-muted">{{ .Site.Home.Title }}</a>
		</div>
		{{- $default_author := .Param "author" -}}
		{{- $author := .Params.author | default $default_author -}}
		{{- $author := index .Site.Data.authors $author -}}
		{{ with $author.networks }}
		<ul class="social-networks list-inline mb-0">
			{{ range $key, $value := . }}
			{{ if or (hasPrefix $value.href "http://") (hasPrefix $value.href "https://") }}
			<li class="list-inline-item">
				<a href="{{ print $value.href $value.id }}" title="{{ $value.title }}" class="text-muted">
					<span class="iconify social-icon {{ $key | urlize }}-icon" {{ printf "data-icon=%q" $value.icon | safeHTMLAttr }}></span>
				</a>
			</li>
			{{ end }}
			{{ end }}
		</ul>
		{{ end }}
	</div>
</footer>

<!-- TODO: scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js" integrity="sha512-ZvbjbJnytX9Sa03/AcbP/nh9K95tar4R0IAxTS2gh2ChiInefr1r7EpnVClpTWUEN7VarvEsH3quvkY1h0dAFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.2/lazysizes.min.js" integrity="sha384-1N8YjIsNRRCGVDKyAhuzcypn/egF8x3HYOojJWpxKhYt/YbyYLefKrQJBGSRopcw" crossorigin="anonymous"></script>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js" integrity="sha384-jQq64HqdQD5xg0PPkpkCOW3x8Nsfx5UT1qWOpoJxLYy6Ef+5i+8xPoAj/I3B+ZMm" crossorigin="anonymous"></script>
