<footer class="footer bg-light">
	<div class="container py-3 text-muted d-flex flex-wrap justify-content-between align-items-center">
		<div class="credits">
			© 2015-{{ now.Format "2006" }} <a href="{{ .Site.Home.Permalink }}" class="text-muted">{{ .Site.Title }}</a>
		</div>
		{{- $default_author := .Param "author" -}}
		{{- $author := .Params.author | default $default_author -}}
		{{- $author := index .Site.Data.authors $author -}}
		{{- with $author.networks }}
		<ul class="social-networks list-inline mb-0">
			{{- range $key, $value := sort . "weight" }}
			{{- if hasPrefix $value.href "http" }}
			<li class="list-inline-item">
				<a href="{{ print $value.href $value.id }}" title="{{ $value.title }}" class="text-muted">
					<span class="iconify social-icon {{ $key | urlize }}-icon" {{ printf "data-icon=%q" $value.icon | safeHTMLAttr }}></span>
				</a>
			</li>
			{{- end }}
			{{- end }}
		</ul>
		{{- end }}
	</div>
</footer>
