<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="referrer" content="same-origin">
	<title>
		{{- if not .IsHome -}}
			{{- if .Title -}}
				{{- .Title }} • {{ site.Title -}}
			{{- end -}}
		{{- else -}}
			{{- site.Title }} • {{ site.Params.tagline -}}
		{{- end -}}
	</title>

	{{ partial "seo.html" . }}
	{{ partial "favicon.html" . }}

	{{ partial "assets.html" (dict "context" . "asset_type" "stylesheet") }}
	<link rel="stylesheet" href="{{ (resources.Get "css/main.scss" | toCSS | minify).RelPermalink }}">
</head>
