<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
	<div class="container">
		<a class="navbar-brand" href="{{ .Site.Home.RelPermalink }}">{{ .Site.Title }}</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#site-navigation" aria-controls="site-navigation" aria-expanded="false" aria-label="{{ i18n "menu_toggle" }}">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="site-navigation">
			{{- with .Site.Data.menu }}
			{{- $locale := ($.Language.Lang | default $.Site.LanguageCode) -}}
			<ul class="navbar-nav me-auto">
				{{ range . }}
				{{- $url := cond (ne $locale "en") (printf "url_%s" $locale) "url" -}}
				{{- $url := cond (isset . $url) $url "url" -}}
				{{- $url := index . $url | relLangURL -}}
				<li class="nav-item">
					<a class="nav-link{{ if eq $.RelPermalink $url }} active{{ end }}" href="{{ $url }}">
						{{- if isset . "icon" }}
						<span class="iconify inline-icon {{ .name | urlize }}-icon me-1" {{ printf "data-icon=%q" .icon | safeHTMLAttr }}></span>
						{{- end }}
						{{ i18n .name }}
					</a>
				</li>
				{{ end }}
			</ul>
			{{- end }}
			<div class="form-switch dark-mode-switch ms-auto">
				<input class="form-check-input" type="checkbox" aria-label="Toggle dark mode" title="Toggle dark mode">
			</div>
			<form action="https://duckduckgo.com/" target="ddg" class="form-inline my-2 my-lg-0">
				<div class="input-group input-group-sm">
					<input name="q" class="form-control bg-transparent border-secondary text-white" type="search" placeholder="{{ i18n "keywords" }}" title="{{ i18n "search" }}" aria-label="{{ i18n "search" }}">
					<input type="hidden" name="sites" value="{{ trim (replaceRE "^https?://" "" .Site.Home.Permalink) "/" }}">
					<input type="hidden" name="HTTPS" value="1">

					<div class="input-group-append">
						<button class="btn btn-sm btn-secondary" type="submit" id="button-addon2">
							<span class="iconify" data-icon="whh:magnifier"></span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</nav>
