<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
	<div class="container">
		<a class="navbar-brand" href="{{ .Site.Home.Permalink }}">{{ .Site.Home.Title }}</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#site-navigation" aria-controls="site-navigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="site-navigation">
			<!-- TODO: pages -->
			<div class="form-switch dark-mode-switch ms-auto">
				<input class="form-check-input" type="checkbox" aria-label="Toggle dark mode" title="Toggle dark mode">
			</div>
			<form action="https://duckduckgo.com/" target="ddg" class="form-inline my-2 my-lg-0">
				<div class="input-group input-group-sm">
					<input name="q" class="form-control bg-transparent border-secondary text-white" type="search" placeholder="Keywords…" title="Search with DuckDuckGo" aria-label="Search">
					<input type="hidden" name="sites" value="{{ replaceRE "^https?://" "" .Site.Home.Permalink }}">
					<input type="hidden" name="HTTPS" value="1">

					<div class="input-group-append">
						<button class="btn btn-sm btn-secondary" type="submit" id="button-addon2">
							<span class="iconify" data-icon="whh:magnifier"></span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</nav>
