<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
	{% include head.html %}
	<body>

		<!-- header -->
		<div id="header-wrapper" class="container">
			<div class="row">
				<div class="col-md-8 col-md-pull-2 col-md-push-2">
					{% include header.html %}
				</div>
			</div>
		</div>
		<!-- header -->

		<!-- content -->
		<div id="content-wrapper" class="container">
			<div class="row">
				<div class="col-md-8 col-md-pull-2 col-md-push-2">

					<section id="content">{{ content }}</section>

					{% include pagination.html %}

				</div>
			</div>
		</div>
		<!-- content -->

		<!-- footer -->
		<div id="footer-wrapper">
			{% include footer.html %}
		</div>
		<!-- footer -->

	</body>
</html>
