---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<header class="header">
		<h2 class="title" itemprop="name headline">{{ page.title | escape }}</h2>
		<ul class="meta list-inline list-with-separator">
			<li>
				<svg class="icon icon-user">
					<use xlink:href="#user" />
				</svg>
				<span itemprop="author" itemscope itemtype="http://schema.org/Person">
					<span itemprop="name">{{ site.data.members[page.author].name | escape }}</span>
				</span>
			</li>
			<li>
				<svg class="icon icon-calendar">
					<use xlink:href="#calendar" />
				</svg>
				<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: '%b %-d, %Y' }}</time>
			</li>
			{%- if page.category %}
			<li>
				<svg class="icon icon-folder">
					<use xlink:href="#folder" />
				</svg>
				<span itemprop="keywords">
					<a href="{{ site.data.pages | where: 'name', 'categories' | map: 'uri' | first | relative_url }}#{{ page.category | uri_escape }}" rel="category" class="badge">{{ page.category | escape }}</a>
				</span>
			</li>
			{%- endif %}
			{%- if page.tags.size > 0 %}
			<li>
				<svg class="icon icon-tag">
					<use xlink:href="#tag" />
				</svg>
				<ul class="tags list-inline" itemprop="keywords">
					{%- for tag in page.tags %}
					<li>
						<a href="{{ site.data.pages | where: 'name', 'tags' | map: 'uri' | first | relative_url }}#{{ tag | uri_escape }}" rel="tag" class="badge">{{ tag | escape }}</a>
					</li>
					{%- endfor %}
				</ul>
			</li>
			{%- endif %}
		</ul>
	</header>
	<div class="body" itemprop="articleBody">
		{{ content }}
	</div>
	{%- if page.updated_at %}
	<footer class="footer">
		<ul class="meta list-inline list-width-separator">
			<li>
				<svg class="icon icon-calendar">
					<use xlink:href="#calendar" />
				</svg>
				Last modified at
				<time datetime="{{ page.updated_at | date_to_xmlschema }}" itemprop="dateModified">
					{{ page.updated_at | date: '%b %-d, %Y' }}
				</time>
			</li>
		</ul>
	</footer>
	{%- endif %}
</article>
