.navbar-brand {
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;

	.navbar-light & {
		color: $fg-brand;
	}

	&::before,
	&::after {
		color: $fg-logo;
	}

	&::before {
		content: '{';
	}

	&::after {
		content: '}';
	}
}
