body {
	background-color: $bg-body;
	color: $fg-body;
	font-family: 'PT Mono',monospace;
	font-size: get-rems((1 - (2 / 10)), 1); // 1rem - 20%
}

a {
	&,
	&:visited {
		text-decoration: none;
		color: $fg-link;
	}

	&:hover {
		text-decoration: underline;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $fg-headline;
}

p img {
	max-width: percentage(1);
}

hr {
	margin-top: get-rems($spacing);
	margin-bottom: get-rems($spacing);
	border-width: 0 0 1px;
	border-style: dashed;
	border-color: $fg-body;
	background-color: transparent;
	width: percentage(1) - 2;
}
